APP_TITLE=UGC service
APP_DESCRIPTION=Service for saving users events
DEBUG=True
ENABLE_AUTH=False
USER_ID_FIELD=login
KAFKA_HOST=localhost
KAFKA_PORT=9096
AUTH_SERVICE_URL=http://localhost:10000
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DB=metrics
SENTRY_DSN=https://570dfbc389eafc5745120600ee081b1e@o4507916600475648.ingest.de.sentry.io/4507916646285392


mongo_dsn=mongodb://user:pass@host:27017
MONGO_HOST=localhost
MONGO_PORT=27017