APP_TITLE=UGC service
APP_DESCRIPTION=Service for saving users events
DEBUG=True
ENABLE_AUTH=False
USER_ID_FIELD=login
KAFKA_HOST=localhost
KAFKA_PORT=9096
AUTH_SERVICE_URL=http://localhost:10000
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DB=metrics
